@font-face {
	src: url(font/Bogart-Medium-trial.ttf);
	font-family: Bogart-Medium-trial;
}
@font-face {
	src: url(font/TAN-PEARL.ttf);
	font-family: TAN-PEARL;
}
@font-face {
	src: url(font/mabry-regular-pro.ttf);
	font-family: mabry-regular-pro;
}
@font-face {
	src: url(font/Biotif-Regular.ttf);
	font-family:Biotif-Regular ;
}
@font-face {
	src: url(font/Cambon-ExtraLight.ttf);
	font-family:Cambon-ExtraLight ;
}



*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bogart-Medium-trial;
}
header
{
 
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  padding: 100px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  font-family: TAN-PEARL;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


.showcase
{
  position:relative ;
  right: 0;
  background-size: cover;
  overflow: hidden;
  
}
.image{
	width:100%;
	margin-top:0px;
	
}
.showcase.active
{
  right: 300px;
}
.showcase ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.showcase ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.showcase ul li::after{
	content: ' ';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.showcase ul li:hover::after{
	width: 100%;
}



.text2{
	width: 900px;
	margin-left: 500px;
	margin-top: 150px;
}
.text2 h1
{
  font-family: TAN-PEARL;
  font-size: 50px;
  font-weight:400;
  color: #000;
  line-height: 1.5em;
  box-sizing: border-box;
  margin-top: -50px;
  min-width: 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.text2 h3
{
  font-family: mabry-regular-pro;
  font-weight:400;
  font-size: 25px;
  color: #000;
  line-height: 1.3em;
  box-sizing: border-box;
  margin-top: 25px;
  min-width: 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.text2 p
{
  font-family: mabry-regular-pro;
  font-weight:100;
  font-size: 16px;
  color: #000;
  line-height: 1.5em;
  box-sizing: border-box;
  margin-top: 50px;
}
.text2 p{
	margin-right: 180px;
}




.image1{
	width:100%;
	margin-top:100px;
	
}
.text3 p
{
  font-family: mabry-regular-pro;
  font-weight:100;
  font-size: 16px;
  color: #000;
  line-height: 1.5em;
  box-sizing: border-box;
}
.text3 p{
	margin-right: 400px;
	margin-top: 100px;
	margin-left: 500px;
}
.image2{
	width:100%;
	margin-top:100px;
	
}
.text4 p
{
  font-family: mabry-regular-pro;
  font-weight:100;
  font-size: 16px;
  color: #000;
  line-height: 1.5em;
  box-sizing: border-box;
}
.text4 p{
	margin-right: 300px;
	margin-top: 100px;
	margin-left: 500px;
}

.color-image1{
	position: absolute;
	margin-top:100px;
	margin-left: -150px;
	background: #99ddcc;
	height: 120%;
	width: 100%;
	z-index: -1;
	transform: translateX(150px);
}
.image3{
	width:95%;
	margin-top:100px;
	margin-left:40px;
}

.image4{
	margin-left: 20px;
	margin-top: 1060px;
}
.image4-4{
position: relative;
width: 41.7%;
margin:0;
background-position: center;
background-size: cover;
height: 41.7%;


}
.image5{
	margin-top:-560px;
}
.image5-5{
position: relative;
width: 55%;
margin:0;
background-position: center;
background-size: cover;
height: 55%;
margin-left: 660px;

}

.image6-6{
	width:100%;
	margin-top:50px;
	
}

.image7{
	margin-left: -10px;
	margin-top: 50px;
}
.image7-7{
position: relative;
width: 47%;
margin:0;
background-position: center;
background-size: cover;
height: 47%;


}
.image8{
	margin-top:-545px;
}
.image8-8{
position: relative;
width: 53%;
margin:0;
background-position: center;
background-size: cover;
height: 53%;
margin-left: 710px;

}

.image9-9{
	width:100%;
	margin-top:50px;
	
}
.image10-10{
	width:100%;
	margin-top:50px;
	
}
.image11-11{
	width:100%;
	margin-top:50px;
	
}
.showcase2
{
	margin-top: 0px;
  position:relative ;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url(image/mockup07.png);
  background-size: cover;
  overflow: hidden;
  
}


.text5{
	width: 900px;
	margin-left: 180px;
	margin-top: 300px;
}
.text5 h1
{
  font-family: TAN-PEARL;
  font-size: 50px;
  font-weight:400;
  color: #fff;
  line-height: 1.5em;
  box-sizing: border-box;
  margin-top: -50px;
  min-width: 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.text5 h3
{
  font-family: mabry-regular-pro;
  font-weight:400;
  font-size: 25px;
  color: #fff;
  line-height: 1.3em;
  box-sizing: border-box;
  margin-top: 25px;
  min-width: 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}
.dong6 {
	color: #fff;
    box-sizing: border-box;
	padding-left: 160px;
    margin: 0px;
	margin-top: 30px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-family: mabry-regular-pro ;
}
.dong6.active
{
  right: 300px;
}
.dong6 ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.dong6 ul li a{
	text-decoration: none;
	color: #fff;
}
.dong6 ul li::after{
	content: ' ';
	width: 0%;
	height: 2.5px;
	background: #f44336;
	display: block;
	transition: 0.5s;
}
.dong6 ul li:hover::after{
	width: 90%;
}


