@font-face {
	src: url(font/Bogart-Medium-trial.ttf);
	font-family: Bogart-Medium-trial;
}
@font-face {
	src: url(font/TAN-PEARL.ttf);
	font-family: TAN-PEARL;
}
@font-face {
	src: url(font/mabry-regular-pro.ttf);
	font-family: mabry-regular-pro;
}
@font-face {
	src: url(font/Biotif-Regular.ttf);
	font-family:Biotif-Regular ;
}


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bogart-Medium-trial;
}
header
{
 
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  padding: 100px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  font-family: TAN-PEARL;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


.showcase
{
  position:relative ;
  right: 0;
  width: 100%;
  height: 70vh;
  background-image: url(image/0206.png);
  background-size: cover;
  overflow: hidden;
  
}
.showcase.active
{
  right: 300px;
}

.showcase ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.showcase ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.showcase ul li::after{
	content: ' ';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.showcase ul li:hover::after{
	width: 100%;
}
.text{
	width: 900px;
	margin-left: 350px;
	margin-right: 200px;
	margin-top: 200px;
}
.text h2
{
  font-family: TAN-PEARL;
  font-size: 60px;
  color: #fff;
  line-height: 1.5em;
  box-sizing: border-box;
  margin-top: 0px;
  min-width: 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}



.vachke1{
box-sizing: border-box;
margin-top: 0px;
min-width: 0px;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
display: flex;
position: relative;
margin-top: 60px;
}


.image1-1{
position: relative;
width: 45%;
background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(0206.png);
margin:0;
background-position: center;
background-size: cover;
height: 45%;
margin-top: 0px;
margin-left: 40px;
transition: transform 0.5;
}
.image1-1:hover{
	transform: translateY(-10px);
}

.dong1 {
    box-sizing: border-box;
	padding-left: 100px;
    margin: 0px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 4;
    font-family: TAN-PEARL,serif;
	margin-top:-20px;
}
.dong2 {
    box-sizing: border-box;
    min-width: 0;
    color: #000;
    font-size: 20px;
    line-height: 1.5;
	margin-left:100px;
	margin-right:800px;
    
    
}
.dong2 p{
   font-family: mabry-regular-pro ;
   font-size: 1em;
  color: #000;
  margin: 30px 0px;
  margin-top: -10px;
  font-weight: 400;
  max-width: 1000px;
}
.dong3 {
    box-sizing: border-box;
	padding-left: 80px;
    margin: 0px;
	margin-top: 30px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-family: mabry-regular-pro ;
}
.dong3.active
{
  right: 300px;
}

.dong3 ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.dong3 ul li a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.dong3 ul li::after{
	content: ' ';
	width: 0%;
	height: 2.5px;
	background: #f44336;
	display: block;
	transition: 0.5s;
}
.dong3 ul li:hover::after{
	width: 90%;
}


.vachke2{
box-sizing: border-box;
margin-top: 0px;
min-width: 0px;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
display: flex;
position: relative;
margin-top: -670px;
margin-left: 500px;
}


.image2-2{
position: relative;
width: 65%;
margin:0;
background-position: center;
background-size: cover;
height: 65%;
margin-top: -65px;
margin-left: 330px;
transition: transform 0.5;
}
.image2-2:hover{
	transform: translateY(-10px);
}

.dong4 {
    box-sizing: border-box;
	padding-left: 400px;
	margin-top: -15px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 4;
    font-family: TAN-PEARL,serif;
}
.dong5 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #000;
    font-size: 20px;
    line-height: 1.5;
    
}
.dong5 p{
   font-family: mabry-regular-pro ;
   font-size: 1em;
  color: #000;
  margin: 30px 400px;
  margin-right: 40px;
  margin-top: -10px;
  font-weight: 400;
  max-width: 1000px;
}
.dong6 {
    box-sizing: border-box;
	padding-left: 380px;
    margin: 0px;
	margin-top: 20px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-family: mabry-regular-pro ;
}
.dong6.active
{
  right: 300px;
}

.dong6 ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.dong6 ul li a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.dong6 ul li::after{
	content: ' ';
	width: 0%;
	height: 2.5px;
	background: #f44336;
	display: block;
	transition: 0.5s;
}
.dong6 ul li:hover::after{
	width: 90%;
}

.vachke3{
box-sizing: border-box;
min-width: 0px;
margin-left: -450px;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
display: flex;
position: relative;
}

.image3-3{
width: 98%;
background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(0206.png);
background-position: center;
background-size: cover;
height: 98%;
margin-top: 100px;
margin-left: 0px;
transition: transform 0.5;
}

.image3-3:hover{
	transform: translateY(-10px);
}

.dong7 {
    box-sizing: border-box;
	margin-left:0px;
	margin-top:-30px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 5;
    font-family: TAN-PEARL,serif;
}
.dong8 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #000;
    font-size: 20px;
    line-height: 1.5;
    
}
.dong8 p{
  font-family: mabry-regular-pro ;
  font-size: 1em;
  color: #000;
  margin: 30px 0px;
  margin-right:800px;
  margin-top: -40px;
  font-weight: 400;
  max-width: 1000px;
}
.dong9 {
    box-sizing: border-box;
    margin: 0px;
	margin-top: 30px;
	margin-left: -20px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-family: mabry-regular-pro ;
}
.dong9.active
{
  right: 300px;
}

.dong9 ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.dong9 ul li a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.dong9 ul li::after{
	content: ' ';
	width: 0%;
	height: 2.5px;
	background: #f44336;
	display: block;
	transition: 0.5s;
}
.dong9 ul li:hover::after{
	width: 90%;
}

.vachke4{
box-sizing: border-box;
min-width: 0px;
margin-left: -450px;
-webkit-box-pack: center;
justify-content: center;
flex-direction: column;
display: flex;
position: relative;
}

.image4-4{
width: 98%;
background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(0206.png);
background-position: center;
background-size: cover;
height: 98%;
margin-top: 100px;
margin-left: 0px;
transition: transform 0.5;
}

.image4-4:hover{
	transform: translateY(-10px);
}

.dong10 {
    box-sizing: border-box;
	margin-left:0px;
	margin-top:-30px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 5;
    font-family: TAN-PEARL,serif;
}
.dong11 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #000;
    font-size: 20px;
    line-height: 1.5;
    
}
.dong11 p{
  font-family: mabry-regular-pro ;
  font-size: 1em;
  color: #000;
  margin: 30px 0px;
  margin-right:900px;
  margin-top: -40px;
  font-weight: 400;
  max-width: 1000px;
}
.dong12 {
    box-sizing: border-box;
	
    margin: 0px;
	margin-top: 30px;
	margin-left: -20px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    font-family: mabry-regular-pro ;
}
.dong12.active
{
  right: 300px;
}

.dong12 ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.dong12 ul li a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.dong12 ul li::after{
	content: ' ';
	width: 0%;
	height: 2.5px;
	background: #f44336;
	display: block;
	transition: 0.5s;
}
.dong12 ul li:hover::after{
	width: 90%;
}


.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

.footer{
	font-family:Biotif-Regular;
	width: 50%;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color: #fff;
	padding: 100px 0 30px;
	border-top-left-radius: 125px;
	font-size: 13px;
	line-height: 20px;
}
footer{
	font-family:Biotif-Regular;
	margin-top: 100px;
	margin-left: -500px;
	height: 50%;
	background: linear-gradient(to right, #00093c, #2d0b00);
}
.row{
	font-family:Biotif-Regular;
	color: #fff;
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between; 
}
.col{
	flex-basis: 25%;
	padding: 60px;
	font-family:Biotif-Regular;
}
.logo{
	font-family:TAN-PEARL;
	width: 80px;
	margin-bottom: 30px;
}
.col h3{
	color: #fff;
	width: fit-content;
	margin-bottom: 40px;
	position: relative;
	font-family:Biotif-Regular;
}
p{
	color: #fff;
	width: fit-content;
	margin-bottom: 20px;
	position: relative;
	font-family:Biotif-Regular;
}
.email-id{
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
	font-family:Biotif-Regular;
}
ul li{
	list-style:none;
	margin-bottom: 12px;
}
ul li a{
	font-family:Biotif-Regular;
	margin-top: 200px;
	color: #fff;
	text-decoration: none;
}
.col2{
	
	flex-basis: 25%;
	padding: 60px;
}
.col2 form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
.col2 form input{
	width: 100%;
	background: transparent;
	color: #ccc;
	border: 0;
	outline: none;
}
.col2 h5{
	color: #fff;
	width: fit-content;
	margin-bottom: 40px;
	position: relative;
}
.social{
	color: #fff;
	width: fit-content;
	margin-bottom: 80px;
	margin-top: 30px;
	position: relative;
}

